checkpoint
my-model.ckpt.data-00000-of-00001
my-model.ckpt.index
my-model.ckpt.meta
my-model.data-00000-of-00001
my-model.index
my-model.meta
ssd_mobilenet_v1_coco_11_06_2017/frozen_inference_graph.pb
